*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-banner{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.home-banner img{
    width: 25%;
    height: 250px;
    display: block;
}