* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
  }
  .wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient();
  }
  .wavy span {
    position: relative;
    display: inline-block;
    color: red;
    font-size: 80px;
    text-transform: uppercase;
    animation: animate 1.5s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i))
  }
  @keyframes animate {
    0%, 100% {
      transform: translateY(0px);
    }
    20% {
      transform: translateY(-20px);
    }
    40% {
      transform: translateY(0px);
    }
  }